{% extends "base.html" %}
{% include "nav.html" %}
{% block content %}

<body>
    <div class="container mt-5">
        <section id="boggle">
            <div class="row fluid d-flex justify-content-center align-items-center" style="height:75vh;"">
                <div class=" col-md-6">


                <table class="board">
                    <tbody>
                        {% for row in board %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <p class="mt-4">High Score:
                    <b>{{ highscore }}</b>
                    in {{ nplays }} plays
                </p>

                <p>
                    Score: <b class="score">0</b>
                    Seconds Left: <b class="timer"></b>
                </p>

                <form method="POST" class="add-word">
                    <div class="form-group">
                        <input name="word" class="word form-control w-25" autofocus>
                    </div>
                    <button type="submit" class="btn btn-info btn-sm">Enter</button>

                </form>

                <p class="msg">
                    <!-- our JS will put messages here dynamically -->
                </p>

                <ul class="words">

                </ul>
            </div>
    </div>
    </div>

    </section>

</body>

{% endblock %}